* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Public Sans', sans-serif;
}

body, html {
    height: 100%;
    margin: 0;
    background-color: #f5f5f5;
}

header {
    color: white;
    padding: 10px;
    text-align: center;
    background-color: transparent;
    position: relative;
    z-index: 2;
    position: fixed; /* Fix the header at the top */
    width: 100%; /* Make the header full-width */
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.fixed-header header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
}

.logo {
    font-family: "Poppins", sans-serif;
    font-size: 32px;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    filter: drop-shadow(0 0 5px #09001d);
}

.beginning {
    display: flex;
    flex: 1;
    width: 100%;
    max-width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
    flex-wrap: wrap;
}

.beginning.fade-out {
    animation: fade-out 1s forwards;
}

@keyframes fade-out {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.beginning-img {
    max-height: 100%;
    object-fit: cover;
    width: 50%
}

.beginning-content {
    width: 50%;
    height: 100%;
    display: flex;
    flex: 1;
    flex-direction: column;
    background-color: #f5f5f5;
    align-items: center; /* Center items horizontally */
    padding: 20px; /* Add padding for better spacing */
}

.beginning-content h1 {
    margin-top: 150px;
    font-size: 32px;
    font-style: italic;
}

.beginning-content p {
    margin: 20px 0 20px 0;
    text-align: center;
}

.continue-btn {
    margin-top: 20px;
    width: 190px;
    height: 55px;
    background: #66ffcc;
    border: 2px solid #fff;
    outline: none;
    border-radius: 6px;
    box-shadow: 0 0 10px #66ffcc;
    font-size: 18px;
    color: #09001d;
    letter-spacing: 1px;
    font-weight: 800;
    cursor: pointer;
    transition: .5s;
}

.continue-btn:hover {
    background: #329da8;
    box-shadow: none;
}

.back-link {
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    color: #333;
    text-decoration: none;
    margin-left: 10px;
    cursor: pointer;
    position: absolute;
    left: 10px;
}

.back-link:hover {
    text-decoration: underline;
}

.backed-by-science h1 {
    font-family: "Poppins", sans-serif;
    text-align: center;
    font-weight: 500;
}

.science-content {
    position: relative;
}

.text-block {
    position: absolute;
    margin-top: 30px;
    border-top: 2px solid rgba(0, 0, 0, .3); 
    padding-top: 10px;
    border-bottom: 2px solid rgba(0, 0, 0, .3); 
    opacity: 0;
    transition: opacity 1s ease-in-out;
    text-align: center;
}

.text-block.show {
    opacity: 1;
}

.questionnaire {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    background-color: #FFFFF0;
}

.questionnaire.fade-in {
    animation: fade-in 1s;
}

.questionnaire.fade-out {
    animation: fade-out 1s;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.question-name {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.question-name h2 {
    font-family: "Poppins", sans-serif;
    margin-bottom: 30px;
    font-size: 32px;
}

.question-name p {
    margin: 10px 0 30px 0;
    font-weight: 600;
    text-align: center;
}

form {
    position: relative;
    width: 400px;
    height: 75px;
}

input {
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 10px;
    font-size: 24px;
    padding: 8px 40px 8px 20px;
    border: none;
    box-shadow: 0 5px 8px 3px black;
}

input:focus {
    outline: none;
}

form button {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 50px;
    height: 100;
    border-radius: 50%;
    cursor: pointer;
    border: none;
    background: none;
    font-size: 32px;
}

button i {
    color: rgb(93, 94, 95);
}

button:hover i {
    color: rgb(162, 163, 165);
}

.hello {
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.hello.fade-in {
    animation: fade-in 1s;
}

h1 .emoji {
    font-size: 32px;
}

.emoji {
    font-size: 100px;
    animation: waving-hand 2.5s infinite;
    transform-origin: 70% 70%;
    display: inline-block;
}

@keyframes waving-hand {
    0% {
        transform: rotate(0deg);
    }
    10% {
        transform: rotate(14deg);
    }
    20% {
        transform: rotate(-8deg);
    }
    30% {
        transform: rotate(14deg);
    }
    40% {
        transform: rotate(-4.0deg);
    }
    50% {
        transform: rotate(10deg);
    }
    60% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

.quiz {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.quiz.fade-in {
    animation: fade-in 1s;
}

.response-section {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.quiz h1 {
    font-size: 32px;
    margin-bottom: 40px;
}

.response-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 400px;
    margin: 20px 15px 10px;
    padding: 20px;
    border: none;
    text-align: center;
    cursor: pointer;
    flex-direction: column;
    border-radius: 25px;
    transition: 0.1s;
    background-color: #fff;
}

.response-box-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 400px;
    margin: 20px 15px 10px;
    padding: 20px;
    border: none;
    text-align: center;
    cursor: pointer;
    flex-direction: column;
    border-radius: 25px;
    transition: 0.1s;
    background-color: #fff;
}


.response-box-1 i {
    font-size: 100px;
    margin-bottom: 20px;
}
.response-box p {
    font-size: 24px;
    margin-top: 20px;
    font-weight: 300;
}
.response-box-1 p {
    font-size: 24px;
    margin-top: 20px;
    font-weight: 300;
}

.response-box:hover {
    border: 2px solid #333;
}
.response-box-1:hover {
    border: 2px solid #333;

}

/* Media query for smaller screens */
@media screen and (max-width: 600px) {
    .response-section {
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
}

/* Media query for screens between 601px and 900px */
@media screen and (min-width: 601px) and (max-width: 700px) {

    .response-box {
        width: 200px;
        height: 250px;  /* Adjust the width for screens between 601px and 900px */
    }
    
    .response-box-1 {
        width: 200px;
        height: 250px;  /* Adjust the width for screens between 601px and 900px */
    }
}

@media screen and (min-width: 701px) and (max-width: 800px) {

    .response-box {
        width: 225px;
        height: 281.25px;  
    }
    .response-box-1 {
        width: 225px;
        height: 281.25px;  
    }
}

@media screen and (min-width: 801px) and (max-width: 900px) {

    .response-box {
        width: 250px;
        height: 312.5px;  
    }
    .response-box-1 {
        width: 250px;
        height: 312.5px;  
    }
}

/* Media query for screens between 901px and 1200px */
@media screen and (min-width: 901px) and (max-width: 1200px) {
    .response-box {
        width: 275px;
        height: 343.75px; /* Adjust the width for screens between 901px and 1200px */
    }
    .response-box-1 {
        width: 275px;
        height: 343.75px;  
    }
}

/* Media query for screens above 1200px */
@media screen and (min-width: 1201px) {
    .response-box {
        width: 300px;
        height: 400px; /* Default width for screens above 1200px */
    }
    .response-box-1 {
        width: 300px;
        height: 400px;  
    }
}

.thank-you-popup,
.dont-worry-popup {
    font-size: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 25%; /* Adjust this value to your preference, 75% of the viewport height */
    left: 50%;
    transform: translateX(-50%);
}

.basics {
    display: flex;
    flex: 1;
    width: 100%;
    max-width: 100vw;
    height: 100vh;
    position: relative;
    flex-wrap: wrap;
    overflow: hidden;
}

.goals {
    display: flex;
    flex: 1;
    width: 100%;
    max-width: 100vw;
    height: 100vh;
    position: relative;
    flex-wrap: wrap;
    overflow: hidden;
}

.lifestyle {
    display: flex;
    flex: 1;
    width: 100%;
    max-width: 100vw;
    height: 100vh;
    position: relative;
    flex-wrap: wrap;
    overflow: hidden;
}

.white-bg {
    max-height: 100%;
    object-fit: cover;
    width: 50%
}

.basics-content {
    width: 50%;
    height: 100%;
    display: flex;
    flex: 1;
    flex-direction: column;
    background-color: #f5f5f5;
    justify-content: center;
    align-items: center; /* Center items horizontally */
    padding: 20px; /* Add padding for better spacing */
}

.basics h3 {
    margin-bottom: 20px;
    border-top: 2px solid rgba(0, 0, 0, 1);
    font-size: 24px;
    text-align: center;
}

.lifestyle h3 {
    margin-bottom: 20px;
    border-top: 2px solid rgba(0, 0, 0, 1);
    font-size: 24px;
    text-align: center;
}

.goals h3 {
    margin-bottom: 20px;
    border-top: 2px solid rgba(0, 0, 0, 1);
    font-size: 24px;
    text-align: center;
}

.basics h1 {
    font-size: 32px;
    margin-bottom: 10px;
    text-align: center;
}

.lifestyle h1 {
    font-size: 32px;
    margin-bottom: 10px;
    text-align: center;
}

.goals h1 {
    font-size: 32px;
    margin-bottom: 10px;
    text-align: center;
}

.lifestyle h1 {
    font-size: 32px;
    margin-bottom: 10px;
    text-align: center;
}

.basics p {
    text-align: center;
    margin-top: 10px;
}


.goals p {
    text-align: center;
    margin-top: 10px;
}

.lifestyle p {
    text-align: center;
    margin-top: 10px;
}

.basics a {
    border-bottom: 1px solid #333;
    color: inherit;
    text-decoration: none;
    cursor: pointer;
    margin-top: 20px;
    font-weight: 500;
    text-align: center;
}

.goals a {
    border-bottom: 1px solid #333;
    color: inherit;
    text-decoration: none;
    cursor: pointer;
    margin-top: 20px;
    font-weight: 500;
    text-align: center;
}

.lifestyle a {
    border-bottom: 1px solid #333;
    color: inherit;
    text-decoration: none;
    cursor: pointer;
    margin-top: 20px;
    font-weight: 500;
    text-align: center;
}

/* Center the answers vertically on the screen */
.questions {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    height: 100%;
}

.question {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 600px;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    margin: 20vh auto; 
}

.question h3 {
    display: flex;
    flex-wrap: wrap;
    font-weight: 200;
    font-size: 32px;
    margin-bottom: 40px;
    
}

.question p {
    font-size: 18px;
    margin-bottom: 20px;
    color: #2b2828;

}

.answer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: 10px;
}

.answer-circle {
    cursor: pointer;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    margin: 15px;
    height: 200px;
    border-radius: 50%;
    border: 2px solid #ddd; /* Light grey border */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); /* Hint of shadow */
    transition: border-color 0.3s, background-color 0.3s; /* Smooth transition effect */
}

.answer-circle:hover {
    border-color: #333; /* Solid blackish color on hover */
}

.radio-item [type="radio"] {
    display: none;
}

.radio-item + .radio-item {
    margin-top: 15px;
}


.radio-item label {
    line-height: 25px;
    display: block;
    padding: 15px 55px;
    background: #fff;
    border: 2px solid rgba(255, 255, 255, 0.1);
    border-radius: 30px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 400;
    min-width: auto;
    width: auto;
    height: auto;
    white-space: nowrap;
    position: relative;
    transition: .4s ease-in-out 0s;
}

.radio-item label:hover {
    border: 2px solid #333;
}

.radio-item label:after,
.radio-item label:before {
    content: "";
    position: absolute;
    border-radius: 50%;
}

.radio-item label:after {
    height: 20px;
    width: 20px;
    border: 2px solid #333;
    left: 20px;
    top: calc(50% - 12px);
}

.radio-item label:before {
    background: #333;
    height: 10px;
    width: 10px;
    left: 27px;
    top: calc(50% - 5PX);
    transform: scale(5);
    opacity: 0;
    visibility: hidden;
    transition: .4s ease-in-out 0s;
}

.radio-item [type="radio"]:checked ~ label {
    border-color: #333;
}

.radio-item [type="radio"]:checked ~ label:before {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
}

.goals-header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 30px;
    top: 10%;
    left: 50%;
    transform: translate(-50%);
    position: absolute;
}

.goals-header h3 {
    font-size: 32px;
}

.goals-header p {
    font-size: 18px;
    margin: 15px 0 10px 0;
}

.tile-container {
    width: 100vmin;
    height: 50vh;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-around;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    flex-wrap: wrap;
    gap: 10px;
}

.tile {
    height: 200px;
    width: 170px;
    margin: 40px;
    position: relative;
}


@media (min-width: 900px) {
    .cont-btn {
        margin-bottom: 30px;
    }
}

input[type="checkbox"] {
    -webkit-appearance: none;    
    position: relative;
    height: 100%;
    width: 100%;
    background-color: #fff;
    border-radius: 10px;
    cursor: pointer;
    border: 3px solid transparent;
    outline: none;
    box-shadow: 15px 15px 25px rgba(2,28,53,0.05);

}

input[type="checkbox"]:after {
    position: absolute;
    font-family: "Font Awesome 5 Free";
    font-weight: 400;
    content: "\f111";
    font-size: 22px;
    top: 10px;
    left: 10px;
    color: #e2e6f3;
}

input[type="checkbox"]:hover {
    transform: scale(1.08);
}

input[type="checkbox"]:checked {
    border: 3px solid #478bfb;
}

input[type="checkbox"]:checked:after {
    font-weight: 900;
    content: "\f058";
    color: #478bfb;
}

label {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    height: 80%;
    width: 100%;
    position: absolute;
    bottom: 0;
    cursor: pointer;
}

label .fas {
    font-size: 60px;
    color: #2c2c51;
}

input[type="checkbox"]:checked + label .fas {
    animation: grow 0.5s
}

@keyframes grow {
    50% {
        font-size: 80px;
    }
}

label h6 {
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: #7b7b93;
}

.cont-btn {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 40px;
    width: 150px;
    height: 50px;
    cursor: pointer;
}

.cont-btn:hover {
    background-color: #2c2c51;
}

.main {
    width: 100%;
}

.lifestyle-quiz {
    width: 100%;
}

.questions {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    height: 100%;
}
.quiz-section {
    position: relative;
    min-height: 100vh;  /* Use min-height instead of height */
    background: #e3f0fa;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;  /* Set width to 100% */
}
.quiz-section.active {
    left: 0;
}

.quiz-section .quiz-box {
    position: relative;
    width: 100%;
    height: 100vh;
    border-radius: 6px;
    flex-direction: column;
    padding: 20px 30px;
    opacity: 0;
    pointer-events: none;
    transform: scale(.9);
    transition: .3s ease;
    transition-delay: 0s;
    opacity: 0;
}

.quiz-section .quiz-box.active {
    opacity: 1;
    pointer-events: auto;
    overflow-y: auto;
}

.quiz-box h1 {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 32px;
    text-align: center;
    border-radius: 6px;
}

.quiz-header span {
    font-size: 18px;
    font-weight: 500;
}

.quiz-box .question-text {
    margin-bottom: 40px;
    font-size: 24px;
    font-weight: 600;
}

.option-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.option-list .option:hover {
    border: 2px solid #333;
}

.option-list .option {
    width: 300px;
    background-color: #fff;
    border-radius: 30px;
    padding: 15px;
    font-size: 17px;
    margin: 20px 0;
    cursor: pointer;
    border: 2px solid transparent;
}


.option-list .option.active {
    color: #00a63d;
    border: 2px solid #333;
}

.quiz-box .quiz-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    margin-top: 30px;
}

.quiz-footer .question-total {
    font-weight: 600;
}

.quiz-footer .next-btn {
    position: relative;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 40px;
    width: 150px;
    height: 50px;
    cursor: pointer;
    outline: none;
    font-weight: 600;
    cursor: pointer;
    transition: .5s;
}

.quiz-footer .next-btn.active:hover {
    background: #329da8;
    border-color: #329da8;
}

.quiz-footer .next-btn.active {
    pointer-events: auto;
    background-color: #2c2c51;
    border-color: #2c2c51;
}

.quiz-footer .prev-btn {
    padding: 10px 20px;
    background-color: lightgray;
    color: #fff;
    border: none;
    border-radius: 40px;
    width: 150px;
    height: 50px;
    cursor: pointer;
    outline: none;
    font-weight: 600;
    cursor: pointer;
    transition: .5s;
    font-weight: 600;
    cursor: pointer;
    transition: .5s;
}

.quiz-footer .prev-btn.active {
    pointer-events: auto;
    background-color: #2c2c51;
    border-color: #2c2c51;
}

.quiz-footer .prev-btn.active:hover {
    background: #329da8;
    border-color: #329da8;
}

.lifestyle-quiz {
    width: 100%;
}

.lifestyle-section {
    position: relative;
    min-height: 100vh;  /* Use min-height instead of height */
    background: #e3f0fa;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;  /* Set width to 100% */
}

.lifestyle-section.active {
    left: 0;
}

.lifestyle-section .lifestyle-box {
    position: relative;
    width: 100%;
    height: 100vh;
    border-radius: 6px;
    flex-direction: column;
    padding: 20px 30px;
    opacity: 0;
    pointer-events: auto;
    overflow-y: auto;
    transform: scale(.9);
    transition: .3s ease;
    transition-delay: 0s;
    opacity: 1;
}

.lifestyle-section .lifestyle-box.active {
    opacity: 1;
    pointer-events: auto;
    overflow-y: auto;
}

.lifestyle-box h1 {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 32px;
    text-align: center;
    border-radius: 6px;
}

.lifestyle-header span {
    font-size: 18px;
    font-weight: 500;
}

.lifestyle-box .question-text {
    margin-bottom: 60px;
    font-size: 24px;
    font-weight: 600;
}

.lifestyle-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.lifestyle-list .option:hover {
    border: 2px solid #333;
}

.lifestyle-list .option {
    width: 300px;
    background-color: #fff;
    border-radius: 30px;
    padding: 15px;
    font-size: 17px;
    margin: 20px 0;
    cursor: pointer;
    border: 2px solid transparent;
}


.lifestyle-list .option.active {
    color: #00a63d;
    border: 2px solid #333;
}

.lifestyle-box .lifestyle-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    margin-top: 30px;
}

.lifestyle-footer .question-total {
    font-weight: 600;
}

.lifestyle-footer .next-btn1 {
    position: relative;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 40px;
    width: 150px;
    height: 50px;
    cursor: pointer;
    outline: none;
    font-weight: 600;
    cursor: pointer;
    transition: .5s;
}

.lifestyle-footer .next-btn1.active:hover {
    background: #329da8;
    border-color: #329da8;
}

.lifestyle-footer .next-btn1.active {
    pointer-events: auto;
    background-color: #2c2c51;
    border-color: #2c2c51;
}

.lifestyle-footer .prev-btn1 {
    padding: 10px 20px;
    background-color: lightgray;
    color: #fff;
    border: none;
    border-radius: 40px;
    width: 150px;
    height: 50px;
    cursor: pointer;
    outline: none;
    font-weight: 600;
    cursor: pointer;
    transition: .5s;
    font-weight: 600;
    cursor: pointer;
    transition: .5s;
}

.lifestyle-footer .prev-btn1.active {
    pointer-events: auto;
    background-color: #2c2c51;
    border-color: #2c2c51;
}

.lifestyle-footer .prev-btn1.active:hover {
    background: #329da8;
    border-color: #329da8;
}

.made-for-img {
    width: 100%; /* Set the width to 100% of the parent container */
    height: 100%; /* Set the height to 100% of the parent container */
    object-fit: cover; /* Maintain aspect ratio and cover the entire space */
}

.made-for-section {
    text-align: center;
    height: 40vh;
    width: 100%;
    display: flex;
    justify-content: space-between; /* Spread the content between the center and the far right */
    align-items: center;
    position: relative;
}

.made-for-text {
    position: absolute;
    top: 50%;
    right: 10%; /* Adjust the percentage to position it between the center and the far right */
    transform: translate(-100%, -50%);
    font-size: 24px;
    /* You can add additional styling as needed */
}

.made-for-text h1 {
    font-size: 56px;
}

.made-for-text h5 {
    font-size: 24px;
    font-style: italic;
}

.vitamin-cards {
 
    height: 60vh;
    width: 100%;
}

.slide-container{
    max-width: 1120px;
    width: 100%;
    padding: 40px 0;
  }
  .slide-content{
    margin: 0 40px;
    overflow: hidden;
    border-radius: 25px;
  }
  .card{
    border-radius: 25px;
    background-color: #FFF;
  }
  .image-content,
  .card-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 14px;
    
  }
  .image-content{
    position: relative;
    row-gap: 5px;
    padding: 25px 0;
  }
  .overlay{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    border-radius: 25px 25px 90px 90px;
  }
  #overlay-1{
    background-color: #f58a42;
  }
  #overlay-2{
    background-color: #42f575;
    
  }
  #overlay-3{
    background-color:#42e0f5;
  }
  #overlay-4{
    background-color: #9c42f5;
  }
  #overlay-5{
    background-color:#f542e6;
  }
  #overlay-6{
    background-color:#f54242;
  }
  .overlay::before,
  .overlay::after{
    content: '';
    position: absolute;
    right: 0;
    bottom: -40px;
    height: 40px;
    width: 40px;
    background-color: #2ea6bc;
  }
  .overlay::after{
    border-radius: 0 0 0 0;
    background-color: #FFF;
  }
  .card-image{
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background: #FFF;
    padding: 3px;
  }
  .card-image .card-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid #2ea6bc;
  }
  .name{
    font-size: 18px;
    font-weight: 500;
    color: #333;
  }
  .description{
    font-size: 14px;
    color: #707070;
    text-align: center;
  }
  .button{
    border: none;
    font-size: 16px;
    color: #FFF;
    padding: 8px 16px;
    border-radius: 6px;
    margin: 14px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  #btn1{
  background-color: #1d259f;
  }
  #btn2{
    background-color: #3da38d ;
  }
  #btn3{
    background-color:#02a9f7;
  }
  #btn4{
    background-color:  #745b81 ;
  }
  #btn5{
    background-color:#e98585;
  }
  #btn6{
    background-color:#cb75fd;
  }
  .button:hover{
    background: #1f7a99;
  }
  
  .swiper-navBtn{
    color: #fff;
    transition: color 0.3s ease;
  }
  .swiper-navBtn:hover{
    color: #4070F4;
  }
  .swiper-navBtn::before,
  .swiper-navBtn::after{
    font-size: 35px;
  }
  .swiper-button-next{
    right: 0;
  }
  .swiper-button-prev{
    left: 0;
  }
  .swiper-pagination-bullet{
    background-color: #6E93f7;
    opacity: 1;
  }
  .swiper-pagination-bullet-active{
    background-color: #4070F4;
  }
  
  @media screen and (max-width: 768px) {
    .slide-content{
      margin: 0 10px;
    }
    .swiper-navBtn{
      display: none;
    }
  }

.results-section h1 {
    margin-top: 30px;
    margin-bottom: 40px;
    text-align: center;
    font-size: 32px;
    font-style: italic;
}

.results-section {
    width: 100%;
    height: 60vh;
    margin-top: -382px
}

.popup .overlay {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vw;
    background: rgba(0,0,0,0.7);
    z-index: 1;
    display: none;
}

.popup .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    background: #fff;
    width: 450px;
    height: 220px;
    z-index: 2;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
}

.popup .close-btn {
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 20px;
    width: 30px;
    height: 30px;
    background: #222;
    color: #fff;
    font-size: 25px;
    font-weight: 600;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
}

.popup.active .overlay {
    display: block;
}

.popup.active .content {
    transition: all 300ms ease-in-out;
    transform: translate(-50%, -50%) scale(1);

}





