/* Center the answers vertically on the screen */
.questions {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    height: 100%;
}

.question {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 600px;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    margin: 20vh auto; 
}

.response-section {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.response-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 400px;
    margin: 20px 15px 10px;
    padding: 20px;
    border: none;
    text-align: center;
    cursor: pointer;
    flex-direction: column;
    border-radius: 25px;
    transition: 0.1s;
    background-color: #fff;
    border: 2px solid #333;

}