/* Center the answers vertically on the screen */
.questions {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    height: 100%;
}

.first-question {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 600px;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    margin: 20vh auto; 
}

.first-question h3 {
    font-weight: 200;
    font-size: 32px;
    margin-bottom: 10px;
}

.first-question p {
    font-size: 18px;
    margin-bottom: 20px;
    color: #2b2828;

}

.answer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: 10px;
}

.answer-circle {
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    margin: 15px;
    height: 200px;
    border-radius: 50%;
    border: 2px solid #ddd; /* Light grey border */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); /* Hint of shadow */
    transition: border-color 0.3s, background-color 0.3s; /* Smooth transition effect */
}

.answer-circle:hover {
    border-color: #333; /* Solid blackish color on hover */
}